<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/2ca6785a00.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AwesomeSource</title>
    <link rel="stylesheet" href="/all.css" />
</head>
<body>
    <div class="content">
        <h1 class="header dark">Login</h1>
        <h3>Glad to see you back!</h3>

        <a href="/google" class="sign-in"><i class="fab fa-google"></i>Login With Google</a>
    </div>
</body>
</html>