<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy - AwesomeSource</title>
    <script src="https://kit.fontawesome.com/2ca6785a00.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/articles-all.css" />
    <link rel="shortcut icon" href="/rocket.svg" type="image/x-icon" />
</head>
<body>
    <%- include('./articles/_dashboard.ejs') %> 
    <div class="privacy-content main-content">
        <h1 class="header">Privacy Policy</h1>

        <div class="privacy">
            <h1 class="privacy-title">Account Data</h1>
            <p class="privacy-content">We store the absolute minimum required to run this service effictively for you. This includes your Google account name, your display name, and your profile picture.</p>

            <h1 class="privacy-title">Information Disclosure</h1>
            <p class="privacy-content">We pledge to never, under any circumstances, share, sell, or trade an ounce personal information with ANY third party. On the internet, we value privacy, and most people do too.</p>

            <h1 class="privacy-title">Advertising Details</h1>
            <p class="privacy-content">AwesomeSource has been, is, and will continue to be 100% ad free and open-source. Under no circumstances will we place and ad on this website.</p>

            <h1 class="privacy-title">Tracking & Cookies</h1>
            <p class="privacy-content">
                We use browser cookies and similar technologies to recognise you when you return to our website. We pledge not to share ANY data of our customers and clients with any 3rd party.
            </p>

            <h1 class="privacy-title">Questions?</h1>
            <p class="privacy-content privacy-pad">Got any questions? Feel free to ask them! Toss an to <a href="mailto:harshhh.singh.personal@gmail.com" class="email">harshhh.singh.personal@gmail.com</a></p>
        </div>
    </div>   
</body>
</html>