<nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="/" class="nav-link">
          <span class="link-text logo-text">AwesomeSource</span>
          <i class="fas fa-angle-double-left icon-font"></i>
        </a>
      </li>

      <li class="nav-item">
        <a href="/" class="nav-link">
          <i class="fas fa-home icon-font"></i>
          <span class="link-text">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/new" class="nav-link">
          <i class="fas fa-pen icon-font"></i>
          <span class="link-text">New</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/account" class="nav-link">
          <i class="fas fa-user-circle icon-font"></i>
          <span class="link-text">Account</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/logout" class="nav-link">
          <i class="fas fa-sign-out-alt icon-font"></i>
          <span class="link-text">Logout</span>
        </a>
      </li>
    </ul>
  </nav>
