
.publish
    padding: 10px
    font-size: 20px

.cancel
    display: flex
    font-size: 20px
    padding: 10px

.btns
    display: flex
    flex-direction: row
    padding: 30px

.button-cancel
    display: flex
    padding: 10px

.publish-button
    display: flex
    padding: 0 30px

.title-new
    text-align: center

.preview-btn
    font-size: 24px
    padding: 10px 25px
    border-radius: 50px
    color: white
    background: #6D83F2

.preview-btn-parent
    padding-bottom: 30px
