.new-box
    display: flex
    flex-direction: column

.publish
    width: 100px
    padding: 10px
    font-size: 20px

.cancel
    display: flex
    font-size: 20px
    width: 70px
    padding: 10px

.buttons
    display: flex
    padding: 30px

.button-cancel
    display: flex
    padding: 10px

.publish-button
    display: flex
    padding: 0 30px

.title-new
    text-align: center
