$lightWhite: #F8F8F8
$primary: #6A98F0

.card-color
    color: $lightWhite

.article-card
    display: flex
    flex-direction: column
    padding: 20px 0

.card-body
    border-radius: 12px
    padding: 10px
    width: 50%
    background: $primary
    transition: 0.1s linear all
    &:hover
        transform: scale(1.05, 1.05)

.readmore-div
    display: flex
    padding: 20px 0

.card-list
    list-style: none
