.searchbar
    display: flex
    padding-left: 40px
    white-space: pre

.search-box
    background: #6A98F0
    color: white
    padding: 10px
    padding-right: 10px
    height: 25px
    display: flex
    border-radius: 50px
    align-self: center
    transition: 0.1s linear
    &:hover
        transform: translateY(-4px)

.search
    font-size: 20px
    background: none
    color: white
    &:hover
        transform: translate(0, 0)

::placeholder
    color: #cccccc

.search, .search-icon
    display: flex
    align-self: center

@media only screen and (max-width: 600px)
    .searchbar
        padding: 10px 0
        padding-left: 0
