.header {
  color: #222222;
  font-size: 48px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-7%);
          transform: translateY(-7%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-email, .form-password, .form-name {
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  padding: 20px;
  border-radius: 12px;
  color: #f8f8f8;
  font-size: 20px;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.form-email:hover, .form-password:hover, .form-name:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.password, .email, .name {
  padding: 20px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.login {
  padding: 15px;
  font-size: 20px;
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  color: #f8f8f8;
  border-radius: 12px;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  width: 100px;
}

.login:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.register {
  width: 130px;
  padding: 15px;
  font-size: 20px;
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  color: #f8f8f8;
  border-radius: 12px;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.register:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.triangle {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzI1IiBoZWlnaHQ9Ijk5MCIgdmlld0JveD0iMCAwIDcyNSA5OTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHg9IjY2My45NzMiIHk9Ii00NTQiIHdpZHRoPSIxMjcwLjAzIiBoZWlnaHQ9IjkzOSIgcng9IjE1IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSA2NjMuOTczIC00NTQpIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXIpIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXIiIHgxPSI2NjMuOTczIiB5MT0iLTQ1NCIgeDI9IjE1NTkuNjMiIHkyPSI3NTcuNDEyIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2QTk4RjAiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjNDk2MURDIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position-x: 100%;
  overflow-y: hidden;
}

i {
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.register-page, .login-page {
  color: #6A98F0;
  text-decoration: none;
}

.register-page:hover i, .login-page:hover i {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  color: #547cc7;
}

.warning {
  color: #ff4949;
}

::-webkit-input-placeholder {
  color: #222222;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: #222222;
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: #222222;
  opacity: 0.5;
}

::placeholder {
  color: #222222;
  opacity: 0.5;
}
/*# sourceMappingURL=login-register.css.map */