$light: #f8f8f8
$dark: #222222
$bluegrad: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%)
$blue: #6A98F0

.header
    color: $dark
    font-size: 48px

.content
    display: flex
    height: 100vh
    flex-direction: column
    transform: translateY(-7%)
    justify-content: center

.form-email, .form-password, .form-name
    background: $bluegrad
    padding: 20px
    border-radius: 12px
    color: $light
    font-size: 20px
    transition: 0.1s linear all
    &:hover
        transform: translateX(5px)

.password, .email, .name
    padding: 20px 0

form
    display: flex
    flex-direction: column
    padding-bottom: 30px

.login
    padding: 15px
    font-size: 20px
    background: $bluegrad
    color: $light
    border-radius: 12px
    transition: 0.1s linear all
    width: 100px
    &:hover
        transform: scale(1.05, 1.05)

.register
    width: 130px
    padding: 15px
    font-size: 20px
    background: $bluegrad
    color: $light
    border-radius: 12px
    transition: 0.1s linear all
    &:hover
        cursor: pointer
        transform: scale(1.05, 1.05)

.triangle
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzI1IiBoZWlnaHQ9Ijk5MCIgdmlld0JveD0iMCAwIDcyNSA5OTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHg9IjY2My45NzMiIHk9Ii00NTQiIHdpZHRoPSIxMjcwLjAzIiBoZWlnaHQ9IjkzOSIgcng9IjE1IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSA2NjMuOTczIC00NTQpIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXIpIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXIiIHgxPSI2NjMuOTczIiB5MT0iLTQ1NCIgeDI9IjE1NTkuNjMiIHkyPSI3NTcuNDEyIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2QTk4RjAiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjNDk2MURDIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg==")
    background-repeat: no-repeat
    background-position-x: 100%
    overflow-y: hidden

i
    transition: 0.1s linear all

.register-page, .login-page
    color: $blue
    text-decoration: none
    &:hover i
        transform: translateX(3px)
        color: #547cc7

.warning
    color: #ff4949

::placeholder
    color: $dark
    opacity: 0.5
