.header {
  margin-bottom: 0;
  color: #222222;
  font-size: 48px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-7%);
          transform: translateY(-7%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-email, .form-password, .form-name {
  background: #EAEEFF;
  color: #403F4B;
  padding: 20px;
  border-radius: 50px;
  font-size: 14px;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.password-box, .name-box, .email-box {
  padding: 20px 0;
}

.password, .email, .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.password:hover, .email:hover, .name:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.pad-input {
  padding-left: 20px;
}

.login {
  padding: 15px;
  font-size: 14px;
  background: #586FFA;
  color: #EAEEFF;
  border-radius: 50px;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  width: 150px;
}

.login:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.register {
  padding: 15px;
  font-size: 14px;
  background: #586FFA;
  color: #EAEEFF;
  border-radius: 50px;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  width: 150px;
}

.register:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.pad-arrow {
  font-size: 14px;
  padding-right: 20px;
}

i {
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.register-page, .login-page {
  color: #6A98F0;
  text-decoration: none;
}

.register-page:hover i, .login-page:hover i {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  color: #547cc7;
}

.register-text {
  padding-top: 20px;
}

.warning {
  color: #ff4949;
}

::-webkit-input-placeholder {
  color: #222222;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: #222222;
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: #222222;
  opacity: 0.5;
}

::placeholder {
  color: #222222;
  opacity: 0.5;
}

.circle {
  border-radius: 50px;
  background: #EAEEFF;
  padding: 10px;
}

.register-box, .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
/*# sourceMappingURL=login-register.css.map */